@import "~antd/dist/antd.less";

@primary-color: #ff520d; // primary color for all components
@link-color: #1890ff; // link color
@success-color: #52c41a; // success state color
@warning-color: #faad14; // warning state color
@error-color: #f5222d; // error state color
@font-size-base: 14px; // major text font size
@heading-color: rgba(0, 0, 0, 0.85); // heading text color
@text-color: rgba(0, 0, 0, 0.65); // major text color
@text-color-secondary : rgba(0, 0, 0, .45); // secondary text color
@disabled-color : rgba(0, 0, 0, .25); // disable state color
@border-radius-base: 4px; // major border radius
@border-color-base: #d9d9d9; // major border color
@box-shadow-base: 0 2px 8px rgba(0, 0, 0, 0.15); // major shadow for layers

.header{
  color: @primary-color;
  font-weight: bold;
  padding-top: 0.6em;
}

.app-side-bar{
  background: #fff;

  .app-side-bar-menu{
    height: 100%;
    border-right: 0;
  }
}

.app-container{
  padding: 0 24px 24px;
  h1{
    margin: 16px 0;
  }

  .app-content{
      background: #fff;
      padding: 0.5em 1em;
      margin: 0;
      min-height: 70vh;
  }
}